/* Stylesheet.css */


/*
Color code used
 tosca ->  #20859e;
 black -> #000000;
 white -> ffffff;
 grey -> eeeeee;

 */
/* Custom clear: asses forUse */

.bg-pink {
    background-color: #28a2c0;
}

.color-tosca {
    color: #28a2c0;
}

.btn-theme {
    background-color: #28a2c0;
    padding: 5px 20px;
    color: #fff;
    outline: none;
}

.navbar-toggler-icon {
    transition: none;
}

.btn-theme:focus {
    box-shadow: none;
}

.btn-theme:hover {
    color: #fff;
    box-shadow: 0px 0px 0px 4px rgba(14, 60, 61, 0.7)rgba(3, 210, 218, 0.3);
}

.title {
    text-transform: uppercase;
    letter-spacing: 3px;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

#main-home {
    width: 100%;
    min-height: 650px;
    background: url(../assets/img/bg-home.jpg);
    background-size: 100% 100%;
}

.top-header .item a {
    color: #000000;
}

.top-header .item a:hover {
    color: #28a2c0;
}

.cart {
    padding: 5px 10px !important;
}

.nav-item {
    padding: 0 15px;
}

.navbar .nav-item .nav-link {
    color: #000000;
}

.navbar .nav-item .nav-link:hover {
    color: #28a2c0;
}

#main-home .navbar .cart-icon {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

#main-home #banner-section .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#main-home #banner-section .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#main-home #banner-section .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#main-home #banner-section .owl-carousel .owl-nav button span {
    font-size: 56px;
    padding: 0 1rem;
    color: #28a2c0;
}

#main-home #banner-section .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -5rem;
}

#main-home #banner-section .owl-carousel .owl-nav button.owl-next span {
    margin-right: -5rem;
}

#banner-section .owl-carousel .owl-dots {
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
}

#banner-section {
    padding-top: 50px;
}

#banner-section .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#banner-section .owl-carousel .owl-dots {
    position: absolute;
    bottom: -6rem;
    left: 50%;
    transform: translateX(-50%);
}

#banner-section .owl-carousel .owl-dots button span {
    background-color: #c8c8c8;
    padding: 6px !important;
}

#banner-section .owl-carousel .owl-dots button.active span {
    background-color: #28a2c0;
}

#banner-section .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}

#banner-section .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

#banner-section .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

#banner-section .owl-carousel .owl-nav button.owl-prev span,
#banner-section .owl-carousel .owl-nav button.owl-next span {
    font-size: 56px;
    padding: 0 1rem;
    color: #28a2c0;
}

#banner-section .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -5rem;
}

#banner-section .owl-carousel .owl-nav button.owl-next span {
    margin-right: -5rem;
}


/* About Section */

#about-section {
    background: url(../assets/img/foto.png);
    background-size: 100% 100%;
}

#about-section .overlay {
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 107.24%);
    padding: 50px 0;
}

#about-section h1 {
    color: #000000;
}

#about-section .overlay .text-about {
    width: 50%;
}

#about-section .btn i.fas,
#offer-section .btn i.fas {
    margin-left: 10px;
}

#offer-section {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #EEEEEE 100%), #FFFFFF;
    padding: 80px 0;
}

#divider {
    background-color: #EEEEEE;
    text-align: center;
}

#divider hr {
    margin: 0;
    width: 10%;
    height: 1px;
    margin: auto;
}

#gallery-section {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #EEEEEE 100%), #FFFFFF;
    padding: 80px 0;
}

#gallery-section .gallery .item {
    width: 33%;
}

#gallery-section img {
    width: 100%;
    height: 200px;
}

#contact-section {

    background-size: 100% 100%;
    padding: 80px 0;
}

#contact-section form .form-control {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #28a2c0;
    padding-left: 20px;
    margin: 10px 0;
}

#contact-section form .form-control {
    resize: none;
}

#contact-section form .form-control:focus {
    box-shadow: 0 0 5px 0 #28a2c0;
}

#footer .footer-top {
    background: #EEEEEE;
    padding: 50px 0;
}

#footer .footer-top .social {
    width: 50%;
    margin-left: 20px;
}

#footer .footer-top form input {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: #28a2c0;
    padding-left: 20px;
    margin: 10px 0;
}

#footer .footer-top form .form-control:focus {
    box-shadow: 0 0 5px 0 #28a2c0;
}

#footer .footer-top .social a i {
    font-size: 24px;
    color: #000000;
    transition: 0.5s ease;
}

#footer .footer-top .social a i:hover {
    color: #28a2c0;
}

#footer .footer-bottom {
    color: #ffffff;
    background-color: #28a2c0;
    padding: 20px 0 1px;
    text-align: center;
}

#footer .footer-bottom a {
    color: #FFFFFF;
}





/* Responsive Style */

/*mobile*/
@media only screen and (max-width:580px) {
    .top-header>.d-flex {
        flex-direction: column;
    }

    .top-header>.d-flex>.item {
        padding: 5px 0;
    }

    #banner-section {
        padding: 50px 0;
    }

    #banner-section .owl-carousel .owl-nav {
        display: none;
    }

    #banner-section .owl-carousel .owl-dots {
        bottom: -2rem;
    }

    #about-section .overlay .text-about {
        width: 100%;
    }
}